$font: "GT-Walsheim-Pro", normal;
$fontBold: "GT-Walsheim-Pro", bold;
$transitionTime: 0.3s;
$highlightColor: #ffed00;
$placeholderColor: #777777;

* {
  margin: 0 auto;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("/static/GT-Walsheim-Pro-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("/static/GT-Walsheim-Pro-Bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  background-color: black;
}

nav {
  background-color: white;
  padding: 10px;
}

.logo {
  height: 5vh;
}

.logo:hover {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  font-family: $font;
}

#splashvid {
  width: 100%;
  height: 100%;
  border: none;
}
#splashtext {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 40vh;
  text-align: center;
  color: white;

  p {
    margin: 20px;
    font-family: $fontBold;
  }
  h1 {
    font-size: 2rem;
    font-family: $fontBold;
  }
}

#signupform {
  background-color: black;
  padding: 10px;
  margin-top: 20px;
}

#formHeader {
  color: white;
  margin-bottom: 20px;
  text-align: left;
  h2 {
    font-size: 1.1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

label {
  cursor: pointer;
  font-family: $font;
  text-align: left;
  font-size: 1rem;
  line-height: 21px;
  color: white;
  width: 100%;
}

input {
  width: 100%;
  height: 30px;
  font-family: $font;
  color: black;
  padding: 0px 0px 0px 6px;
}

.input-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .fas {
    width: 100%;
    height: 16px;
    margin-bottom: -16px;
    position: relative;
    bottom: 24px;
    left: 93%;
    opacity: 0;
    transition: $transitionTime;
  }
  input:valid ~ .fa-check {
    transition: $transitionTime;
    opacity: 1;
  }
  input:invalid:not(:placeholder-shown) ~ .fa-times {
    transition: $transitionTime;
    opacity: 1;
  }
}

input:focus {
  transition: $transitionTime;
  outline: 2px solid $highlightColor;
}

input[type="submit"] {
  background: $highlightColor;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 34px;
  margin-top: 20px;
}

.checkboxField {
  display: flex;
  label {
    font-size: 0.8rem;
    padding-left: 10px;
  }
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-bottom: 0px;
    margin-top: 4px;
  }
}

::placeholder {
  color: $placeholderColor;
  font-family: $font;
  font-size: 14px;
  line-height: 16px;
}
input:focus::placeholder {
  color: transparent;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1000px) {
  #splashtext {
    top: 30%;
    width: 50%;
    h1 {
      font-size: 3.2rem;
    }
  }

  #signupform {
    position: absolute;
    top: 6vh;
    right: 0px;
    height: 94vh;
    width: 30vw;
    transition: $transitionTime;
  }
  form {
    width: 25vw;
    margin-top: 10vh;
  }
  #signupform:hover {
    transition: $transitionTime;
    width: 40vw;
  }
  #signupform:focus-within {
    transition: $transitionTime;
    width: 40vw;
  }

  input[type="submit"] {
    width: 30%;
  }
}
